/** @format */

/* ナビゲーションバー */
.navbar {
  background-color: #353a40;
  height: 3em;
}

/* この辺なぜかimportantにしないと開発環境では動くけど静的ビルドすると反映されなくなる */
/* 要調査 */
.button {
  font-size: 1em !important;
  text-transform: none !important;
}

.button:hover {
  background-color: #434952 !important;
}

.home {
  color: #eee !important;
  font-weight: bold !important;
}

.otherLink {
  color: rgb(190, 190, 190) !important;
}

.left {
  padding: auto;
  display: flex;
  justify-content: center;
  margin: auto auto auto 3%;
}

.right {
  padding: auto;
  display: flex;
  justify-content: center;
  margin: auto 1em auto auto;
}

/* 右上のメニューバー */
.menu {
  position: absolute;
  margin: 25px;
}

.menu ul {
  background-color: #353a40;
}

.menuItemButton {
  color: #eee !important;
  text-transform: none !important;
}

.menuItem:hover {
  background-color: #434952 !important;
}

.icon {
  margin-right: 3px;
}
