/* 表全体 */
.courseTables {
  max-width: 1300px;
  margin: auto;
  padding: 15px;
}

/* 各コースの表 */
.courseTable {
  table-layout: fixed;
  width: 100%;
}

.sh365_name {
  width: 10%;
}
.sh365_title {
  width: 30%;
}
.sh365_blog {
  width: 15%;
}
.sh365_hack {
  width: 40%;
}

/* 横長の各コースのタイトル */
h2.coursettl {
  display: block;
  text-align: center;
  max-width: 1300px;
  background: #f8e44c;
  padding: 20px;
  margin: 0 auto 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  color: #000;
  overflow: hidden;
  position: relative;
  font-weight: normal;
}

h2.coursettl.c0::before {
  font-size: 6.5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(10px, -50%);
  opacity: 0.3;
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "YuGothic",
    "YuGothicM", "メイリオ", "Meiryo", sans-serif;
  font-weight: 700;
}

h2.coursettl.c01::before {
  content: "01";
}
h2.coursettl.c02::before {
  content: "02";
}
h2.coursettl.c03::before {
  content: "03";
}
h2.coursettl.c04::before {
  content: "04";
}
h2.coursettl.c05::before {
  content: "05";
}

/* 一番下のロゴ */
.logo {
  text-align: center;
}
.logo img {
  width: 40%;
  height: auto;
}
